<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jyss.bacon.mapper.BaseNewMapper" >
  <resultMap id="BaseResultMap" type="com.jyss.bacon.entity.BaseNew" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="banner_pic" property="bannerPic" jdbcType="VARCHAR" />
    <result column="new_pic" property="newPic" jdbcType="VARCHAR" />
    <result column="head_title" property="headTitle" jdbcType="VARCHAR" />
    <result column="sub_title" property="subTitle" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="cooperation" property="cooperation" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.jyss.bacon.entity.BaseNew" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>

  <insert id="insert" parameterType="com.jyss.bacon.entity.BaseNew" >
    insert into p_base_new (id, banner_pic, new_pic, head_title,
      sub_title, source, cooperation,status, create_time, content)
    values (#{id,jdbcType=INTEGER}, #{bannerPic,jdbcType=VARCHAR}, #{newPic,jdbcType=VARCHAR},
      #{headTitle,jdbcType=VARCHAR}, #{subTitle,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR},
      #{cooperation,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT},
      #{createTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.jyss.bacon.entity.BaseNew" >
    update p_base_new
    <set >
      <if test="bannerPic != null" >
        banner_pic = #{bannerPic,jdbcType=VARCHAR},
      </if>
      <if test="newPic != null" >
        new_pic = #{newPic,jdbcType=VARCHAR},
      </if>
      <if test="headTitle != null" >
        head_title = #{headTitle,jdbcType=VARCHAR},
      </if>
      <if test="subTitle != null" >
        sub_title = #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="cooperation != null" >
        cooperation = #{cooperation,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


  <!--查询所有-->
  <select id="getAllNews" resultMap="BaseResultMap">
    select id, nullif(CONCAT('${httpUrl}',banner_pic), '${httpUrl}') as new_pic,
    head_title from p_base_new where status = 1 order by create_time desc
  </select>

  <!--条件查询-->
  <select id="selectBaseNewBy" resultMap="BaseResultMap">
    select id, nullif(CONCAT('${httpUrl}',banner_pic), '${httpUrl}') as banner_pic,
    nullif(CONCAT('${httpUrl}',new_pic), '${httpUrl}') as new_pic,
    head_title,sub_title, source, cooperation,status, create_time, content
    from p_base_new where id = #{id} and status = 1
  </select>
</mapper>