<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


   <bean id="schedule1" class="com.jyss.yqy.action.UserRecordBAction"></bean>
   <bean id="schedule2" class="com.jyss.yqy.action.UserRecordBAction"></bean>
   <bean id="schedule3" class="com.jyss.yqy.action.UserRecordBAction"></bean>
   
   <bean id="SpringQtzJobMethod1"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="schedule1" />
		<property name="targetMethod" value="insertJBonusFdj"/>    <!-- 计算辅导奖和积分  -->
	</bean>
	<bean id="SpringQtzJobMethod2"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="schedule2" />
		<property name="targetMethod" value="insertJBonusScj"/>    <!-- 计算市场奖和积分 -->
	</bean>
	<bean id="SpringQtzJobMethod3"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="schedule3" />
		<property name="targetMethod" value="insertJBonusFxj"/>     <!-- 计算分销奖和积分  -->
	</bean>
	
	
	<!-- 每天定时执行任务 -->
	<bean id="cronTriggerFactoryBean1" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean ">
		<property name="jobDetail" ref="SpringQtzJobMethod1"></property>
	<!-- 	<property name="cronExpression" value="0/5 * * * * ? "></property> -->
		<property name="cronExpression" value="0 0 2 * * ?"></property>      <!-- 每天02:00执行 -->
	</bean>
	<bean id="cronTriggerFactoryBean2" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean ">
		<property name="jobDetail" ref="SpringQtzJobMethod2"></property>
		<property name="cronExpression" value="0 0 1 * * ?"></property>      <!-- 每天01:00执行 -->
	</bean>
	<bean id="cronTriggerFactoryBean3" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean ">
		<property name="jobDetail" ref="SpringQtzJobMethod3"></property>
		<property name="cronExpression" value="0 0 3 * * ?"></property>      <!-- 每天03:00执行 -->
	</bean>
	
	
	<bean id="SpringJobSchedulerFactoryBean"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronTriggerFactoryBean1" />
				<ref bean="cronTriggerFactoryBean2" />
				<ref bean="cronTriggerFactoryBean3" />
			</list>
		</property>
	</bean>

</beans>

