<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jyss.bacon.mapper.ItemCatMapper" >
  <resultMap id="BaseResultMap" type="com.jyss.bacon.entity.ItemCat" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <result column="dw_name" property="dwName" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pw_price" property="pwPrice" jdbcType="DECIMAL" />
    <result column="pp_price" property="ppPrice" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="sort_order" property="sortOrder" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
  </resultMap>

  <insert id="insert" parameterType="com.jyss.bacon.entity.ItemCat" >
    insert into c_item_cat (id, category_id, category_name,
    dw_name, name, pw_price,
    pp_price, status, sort_order,
    created)
    values (#{id,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{categoryName,jdbcType=VARCHAR},
    #{dwName,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{pwPrice,jdbcType=DECIMAL},
    #{ppPrice,jdbcType=DECIMAL}, #{status,jdbcType=TINYINT}, #{sortOrder,jdbcType=INTEGER},
    #{created,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.jyss.bacon.entity.ItemCat" >
    update c_item_cat
    <set >
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null" >
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="dwName != null" >
        dw_name = #{dwName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pwPrice != null" >
        pw_price = #{pwPrice,jdbcType=DECIMAL},
      </if>
      <if test="ppPrice != null" >
        pp_price = #{ppPrice,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="sortOrder != null" >
        sort_order = #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jyss.bacon.entity.ItemCat" >
    update c_item_cat
    set category_id = #{categoryId,jdbcType=INTEGER},
    category_name = #{categoryName,jdbcType=VARCHAR},
    dw_name = #{dwName,jdbcType=VARCHAR},
    name = #{name,jdbcType=VARCHAR},
    pw_price = #{pwPrice,jdbcType=DECIMAL},
    pp_price = #{ppPrice,jdbcType=DECIMAL},
    status = #{status,jdbcType=TINYINT},
    sort_order = #{sortOrder,jdbcType=INTEGER},
    created = #{created,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--条件查询-->
  <select id="getItemCatBy" parameterType="com.jyss.bacon.entity.ItemCat" resultMap="BaseResultMap">
    select * from c_item_cat
    <where>
      <if test="categoryId != null and categoryId != ''">and category_id = #{categoryId}</if>
      <if test="status != null and status != ''">and status = #{status}</if>
    </where>
    order by sort_order
  </select>
  
  <!--查询所有大段位-->
  <select id="selectDwNameByCategoryId" parameterType="int" resultMap="BaseResultMap">
    select * from c_item_cat where category_id = #{categoryId}
    and status = 1 group by dw_name order by sort_order
  </select>
</mapper>