<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jyss.bacon.mapper.ItemCatMapper" >
  <resultMap id="BaseResultMap" type="com.jyss.bacon.entity.ItemCat" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="is_parent" property="isParent" jdbcType="TINYINT" />
    <result column="sort_order" property="sortOrder" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
  </resultMap>


  <insert id="insert" parameterType="com.jyss.bacon.entity.ItemCat" useGeneratedKeys="true" keyProperty="id">
    insert into c_item_cat (id, category_id, parent_id, 
      name, status, is_parent, 
      sort_order, created)
    values (#{id,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{isParent,jdbcType=TINYINT}, 
      #{sortOrder,jdbcType=INTEGER}, #{created,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.jyss.bacon.entity.ItemCat" >
    update c_item_cat
    <set >
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="isParent != null" >
        is_parent = #{isParent,jdbcType=TINYINT},
      </if>
      <if test="sortOrder != null" >
        sort_order = #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.jyss.bacon.entity.ItemCat" >
    update c_item_cat
    set category_id = #{categoryId,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      is_parent = #{isParent,jdbcType=TINYINT},
      sort_order = #{sortOrder,jdbcType=INTEGER},
      created = #{created,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>