<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jyss.bacon.mapper.MoneyDetailMapper" >
  <resultMap id="BaseResultMap" type="com.jyss.bacon.entity.MoneyDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="source" property="source" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <insert id="insert" parameterType="com.jyss.bacon.entity.MoneyDetail" >
    insert into u_money_detail (id, u_id, detail, type, money, source, status, create_time)
    values (#{id,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER}, #{detail,jdbcType=VARCHAR}, 
      #{type,jdbcType=TINYINT}, #{money,jdbcType=DECIMAL}, #{source,jdbcType=TINYINT}, 
      #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP})
  </insert>

  <!--查询充值记录-->
  <select id="selectMoneyDetail" resultType="int" resultMap="BaseResultMap">
    select * from u_money_detail where u_id = #{uId} and status = 1 order by create_time desc
  </select>
</mapper>