<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jyss.bacon.mapper.OrderSfResultMapper" >
  <resultMap id="BaseResultMap" type="com.jyss.bacon.entity.OrderSfResult" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="sf_user_id" property="sfUserId" jdbcType="INTEGER" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="result" property="result" jdbcType="VARCHAR" />
    <result column="sf_star" property="sfStar" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
  </resultMap>

  <!--条件查询-->
  <select id="selectOrderSfResult" parameterType="string" resultMap="BaseResultMap">
    select id,order_id,sf_user_id,picture,
    result,sf_star,created from o_order_sf_result
    where order_id = #{orderId} and status = 2
  </select>



</mapper>