<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jyss.bacon.mapper.ScoreBalanceMapper" >
  <resultMap id="BaseResultMap" type="com.jyss.bacon.entity.ScoreBalance" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="end" property="end" jdbcType="TINYINT" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="score" property="score" jdbcType="DECIMAL" />
    <result column="jy_score" property="jyScore" jdbcType="DECIMAL" />
    <result column="order_sn" property="orderSn" jdbcType="CHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>

  <insert id="insert" parameterType="com.jyss.bacon.entity.ScoreBalance" >
    insert into u_score_balance (id, end, u_id, 
      detail, type, score, jy_score, order_sn, created_at, status)
    values (#{id,jdbcType=INTEGER}, #{end,jdbcType=TINYINT}, #{uId,jdbcType=INTEGER}, 
      #{detail,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{score,jdbcType=DECIMAL}, 
      #{jyScore,jdbcType=DECIMAL}, #{orderSn,jdbcType=CHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=TINYINT})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.jyss.bacon.entity.ScoreBalance" >
    update u_score_balance
    <set >
      <if test="end != null" >
        end = #{end,jdbcType=TINYINT},
      </if>
      <if test="uId != null" >
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=DECIMAL},
      </if>
      <if test="jyScore != null" >
        jy_score = #{jyScore,jdbcType=DECIMAL},
      </if>
      <if test="orderSn != null" >
        order_sn = #{orderSn,jdbcType=CHAR},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>





</mapper>