<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jyss.bacon.mapper.ScoreBalanceMapper" >
  <resultMap id="BaseResultMap" type="com.jyss.bacon.entity.ScoreBalance" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="end" property="end" jdbcType="TINYINT" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="score" property="score" jdbcType="DECIMAL" />
    <result column="jy_score" property="jyScore" jdbcType="DECIMAL" />
    <result column="order_sn" property="orderSn" jdbcType="CHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>

  <resultMap id="eaBaseResultMap" type="com.jyss.bacon.entity.ScoreEarn" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="score" property="score" jdbcType="DECIMAL" />
    <result column="jy_score" property="jyScore" jdbcType="DECIMAL" />
    <result column="order_sn" property="orderSn" jdbcType="CHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>


  <!--添加消费记录-->
  <insert id="insert" parameterType="com.jyss.bacon.entity.ScoreBalance" >
    insert into u_score_balance (id, end, u_id, detail, type, score, jy_score, order_sn, created_at, status)
    values (#{id,jdbcType=INTEGER}, #{end,jdbcType=TINYINT}, #{uId,jdbcType=INTEGER}, 
      #{detail,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{score,jdbcType=DECIMAL},
      #{jyScore,jdbcType=DECIMAL}, #{orderSn,jdbcType=CHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=TINYINT})
  </insert>


  <!--添加收入记录-->
  <insert id="insertScoreEarn" parameterType="com.jyss.bacon.entity.ScoreEarn" >
    insert into u_score_earn (id, u_id, detail, type, score, jy_score, order_sn, created_at, status)
    values (#{id,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER},
    #{detail,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{score,jdbcType=DECIMAL},
    #{jyScore,jdbcType=DECIMAL}, #{orderSn,jdbcType=CHAR}, #{createdAt,jdbcType=TIMESTAMP},
    #{status,jdbcType=TINYINT})
  </insert>


  <!--查询总收入-->
  <select id="getTotalIncome" parameterType="int" resultType="string">
    select format(ifnull(sum(score),0),2) from u_score_earn
    where type = 1 and u_id = #{uId} and status = 1
  </select>


  <!--查询今日收入-->
  <select id="getIncomeToday" parameterType="int" resultType="string">
    select format(ifnull(sum(score),0),2) from u_score_earn
    where type = 1 and u_id = #{uId} and status = 1
    and to_days(created_at) = to_days(now())
  </select>


  <!--培根币账单-->
  <select id="selectMyScoreBalance" resultType="int" resultMap="BaseResultMap">
    select * from u_score_balance where u_id = #{uId} and status = 1 order by created_at desc
  </select>


  <!--收入账单-->
  <select id="selectScoreEarn" resultType="int" resultMap="eaBaseResultMap">
    select * from u_score_earn where u_id = #{uId} and status = 1 order by created_at desc
  </select>



</mapper>