<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jyss.bacon.mapper.UserAuthMapper" >
  <resultMap id="BaseResultMap" type="com.jyss.bacon.entity.UserAuth" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="picture_1" property="picture1" jdbcType="VARCHAR" />
    <result column="picture_2" property="picture2" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
  </resultMap>

  <insert id="insert" parameterType="com.jyss.bacon.entity.UserAuth" useGeneratedKeys="true" keyProperty="id">
    insert into u_user_auth (id, u_id, category_id, 
      picture_1, picture_2, title, 
      price, status, created
      )
    values (#{id,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, 
      #{picture1,jdbcType=VARCHAR}, #{picture2,jdbcType=VARCHAR}, #{title,jdbcType=INTEGER}, 
      #{price,jdbcType=DECIMAL}, #{status,jdbcType=TINYINT}, #{created,jdbcType=TIMESTAMP}
      )
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.jyss.bacon.entity.UserAuth" >
    update u_user_auth
    <set >
      <if test="uId != null" >
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="picture1 != null" >
        picture_1 = #{picture1,jdbcType=VARCHAR},
      </if>
      <if test="picture2 != null" >
        picture_2 = #{picture2,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jyss.bacon.entity.UserAuth" >
    update u_user_auth
    set u_id = #{uId,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      picture_1 = #{picture1,jdbcType=VARCHAR},
      picture_2 = #{picture2,jdbcType=VARCHAR},
      title = #{title,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      status = #{status,jdbcType=TINYINT},
      created = #{created,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>