<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jyss.bacon.mapper.UserDynamicMapper" >
  <resultMap id="BaseResultMap" type="com.jyss.bacon.entity.UserDynamic" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="picture_1" property="picture1" jdbcType="VARCHAR" />
    <result column="picture_2" property="picture2" jdbcType="VARCHAR" />
    <result column="picture_3" property="picture3" jdbcType="VARCHAR" />
    <result column="picture_4" property="picture4" jdbcType="VARCHAR" />
    <result column="picture_5" property="picture5" jdbcType="VARCHAR" />
    <result column="picture_6" property="picture6" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="nick" property="nick" />
    <result column="headpic" property="headpic" />
  </resultMap>


  <!--添加动态-->
  <insert id="insert" parameterType="com.jyss.bacon.entity.UserDynamic" useGeneratedKeys="true" keyProperty="uId">
    insert into u_user_dynamic (id, u_id, picture_1,picture_2, picture_3, picture_4,
      picture_5, picture_6, content, status, created)
    values (#{id,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER}, #{picture1,jdbcType=VARCHAR}, 
      #{picture2,jdbcType=VARCHAR}, #{picture3,jdbcType=VARCHAR}, #{picture4,jdbcType=VARCHAR}, 
      #{picture5,jdbcType=VARCHAR}, #{picture6,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT},
      #{created,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.jyss.bacon.entity.UserDynamic" >
    update u_user_dynamic
    <set >
      <if test="uId != null" >
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="picture1 != null" >
        picture_1 = #{picture1,jdbcType=VARCHAR},
      </if>
      <if test="picture2 != null" >
        picture_2 = #{picture2,jdbcType=VARCHAR},
      </if>
      <if test="picture3 != null" >
        picture_3 = #{picture3,jdbcType=VARCHAR},
      </if>
      <if test="picture4 != null" >
        picture_4 = #{picture4,jdbcType=VARCHAR},
      </if>
      <if test="picture5 != null" >
        picture_5 = #{picture5,jdbcType=VARCHAR},
      </if>
      <if test="picture6 != null" >
        picture_6 = #{picture6,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


  <!--条件查询动态-->
  <select id="selectUserDynamicBy" parameterType="int" resultMap="BaseResultMap">
    select a.id,a.u_id,nullif(CONCAT('${httpUrl}',a.picture_1), '${httpUrl}')as picture_1,
    nullif(CONCAT('${httpUrl}',a.picture_2), '${httpUrl}')as picture_2,
    nullif(CONCAT('${httpUrl}',a.picture_3), '${httpUrl}')as picture_3,
    nullif(CONCAT('${httpUrl}',a.picture_4), '${httpUrl}')as picture_4,
    nullif(CONCAT('${httpUrl}',a.picture_5), '${httpUrl}')as picture_5,
    nullif(CONCAT('${httpUrl}',a.picture_6), '${httpUrl}')as picture_6,
    a.content,a.status,a.created,b.nick,
    nullif(CONCAT('${httpUrl}',b.headpic), '${httpUrl}')as headpic
    from u_user_dynamic a left join u_user b on a.u_id = b.u_id
    <where>
      <if test="uId != null and uId != ''"> and a.u_id = #{uId}</if>
      <if test="sex != null and sex != ''"> and b.sex = #{sex}</if>
      and a.status = 1
    </where>
    order by a.created desc
  </select>

  <!--查询关注人的动态-->
  <select id="getDynamicByFellowId"  parameterType="int" resultMap="BaseResultMap">
    select a.id,a.u_id,nullif(CONCAT('${httpUrl}',a.picture_1), '${httpUrl}')as picture_1,
    nullif(CONCAT('${httpUrl}',a.picture_2), '${httpUrl}')as picture_2,
    nullif(CONCAT('${httpUrl}',a.picture_3), '${httpUrl}')as picture_3,
    nullif(CONCAT('${httpUrl}',a.picture_4), '${httpUrl}')as picture_4,
    nullif(CONCAT('${httpUrl}',a.picture_5), '${httpUrl}')as picture_5,
    nullif(CONCAT('${httpUrl}',a.picture_6), '${httpUrl}')as picture_6,
    a.content,a.status,a.created,b.nick,
    nullif(CONCAT('${httpUrl}',b.headpic), '${httpUrl}')as headpic
    from u_user_dynamic a left join u_user b on a.u_id = b.u_id
    where a.u_id in (select follow_id from u_user_follow where u_id = #{uId}) and a.status = 1
    order by a.created desc
  </select>

  <!--删除动态-->
  <delete id="deleteUserDynamicById" parameterType="int">
    delete from u_user_dynamic where id = #{id} and status = 1
  </delete>

  <!--查询8张图片-->
  <select id="getPicture" parameterType="int" resultMap="BaseResultMap">
    select id,CONCAT('${httpUrl}',picture_1)as picture_1,
    nullif(CONCAT('${httpUrl}',picture_2), '${httpUrl}')as picture_2,
    nullif(CONCAT('${httpUrl}',picture_3), '${httpUrl}')as picture_3,
    nullif(CONCAT('${httpUrl}',picture_4), '${httpUrl}')as picture_4,
    nullif(CONCAT('${httpUrl}',picture_5), '${httpUrl}')as picture_5,
    nullif(CONCAT('${httpUrl}',picture_6), '${httpUrl}')as picture_6
    from u_user_dynamic
    where picture_1 <![CDATA[ <> ]]> "" and u_id = #{uId} and status = 1
    order by created desc limit 0,8
  </select>
</mapper>