<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jyss.bacon.mapper.UserAccountMapper" >
  <resultMap id="BaseResultMap" type="com.jyss.bacon.entity.UserAccount" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <insert id="insertUserAccount" parameterType="com.jyss.bacon.entity.UserAccount" >
    insert into u_user_account (id, u_id, real_name, account, type, status, create_time)
    values (#{id,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER}, #{realName,jdbcType=VARCHAR}, 
      #{account,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>

  <!--查询账户-->
  <select id="getUserAccount" resultMap="BaseResultMap">
    select * from u_user_account
    <where>
      <if test="uId != null and uId != ''">and u_id = #{uId}</if>
      <if test="account != null and account != ''">and account = #{account}</if>
      and status = 1
    </where>
    order by type,create_time desc
  </select>

  <update id="updateByPrimaryKeySelective" parameterType="com.jyss.bacon.entity.UserAccount" >
    update u_user_account
    <set >
      <if test="uId != null" >
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>



</mapper>