<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jyss.bacon.mapper.UserAuthMapper" >
  <resultMap id="BaseResultMap" type="com.jyss.bacon.entity.UserAuth" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="category_title" property="categoryTitle" jdbcType="VARCHAR" />
    <result column="picture_1" property="picture1" jdbcType="VARCHAR" />
    <result column="picture_2" property="picture2" jdbcType="VARCHAR" />
    <result column="picture_3" property="picture3" jdbcType="VARCHAR" />
    <result column="title_id" property="titleId" jdbcType="INTEGER" />
    <result column="title_name" property="titleName" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
  </resultMap>

  <insert id="insert" parameterType="com.jyss.bacon.entity.UserAuth" useGeneratedKeys="true" keyProperty="id">
    insert into u_user_auth (id, u_id, category_id, category_title,
      picture_1, picture_2, picture_3, title_id, title_name,
      price, desc, status, created
      )
    values (#{id,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{categoryTitle,jdbcType=VARCHAR},
      #{picture1,jdbcType=VARCHAR}, #{picture2,jdbcType=VARCHAR}, #{picture3,jdbcType=VARCHAR}, #{titleId,jdbcType=INTEGER}, #{titleName,jdbcType=VARCHAR},
      #{price,jdbcType=DECIMAL}, #{desc,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{created,jdbcType=TIMESTAMP}
      )
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.jyss.bacon.entity.UserAuth" >
    update u_user_auth
    <set >
      <if test="uId != null" >
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="categoryTitle != null" >
        category_title = #{categoryTitle,jdbcType=VARCHAR},
      </if>
      <if test="picture1 != null" >
        picture_1 = #{picture1,jdbcType=VARCHAR},
      </if>
      <if test="picture2 != null" >
        picture_2 = #{picture2,jdbcType=VARCHAR},
      </if>
      <if test="picture3 != null" >
        picture_3 = #{picture3,jdbcType=VARCHAR},
      </if>
      <if test="titleId != null" >
        title_id = #{titleId,jdbcType=INTEGER},
      </if>
      <if test="titleName != null" >
        title_name = #{titleName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="desc != null" >
        desc = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jyss.bacon.entity.UserAuth" >
    update u_user_auth
    set u_id = #{uId,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      category_title = #{categoryTitle,jdbcType=VARCHAR},
      picture_1 = #{picture1,jdbcType=VARCHAR},
      picture_2 = #{picture2,jdbcType=VARCHAR},
      picture_3 = #{picture3,jdbcType=VARCHAR},
      title_id = #{titleId,jdbcType=INTEGER},
      title_name = #{titleName,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      desc = #{desc,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      created = #{created,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>