<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jyss.bacon.mapper.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.jyss.bacon.entity.UserInfo" >
    <id column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="account" property="account" />
    <result column="nick" property="nick" />
    <result column="headpic" property="headpic" />
    <result column="label_desc" property="labelDesc" />
    <result column="category_title" property="categoryTitle" />
    <result column="title_name" property="titleName" />
    <result column="price" property="price" />
    <result column="sex" property="sex" />
    <result column="age" property="age" />
    <result column="title_pw_name" property="titlePwName" />

  </resultMap>

  <!--用户名或id搜索-->
  <select id="getUserByNickOrAccount" parameterType="String" resultMap="BaseResultMap" >
    select a.u_id,a.account,a.nick,CONCAT('${httpUrl}',a.headpic)as headpic,a.sex,a.age,b.category_title,
    b.title_name,b.price,b.title_pw_name
    from u_user a ,u_user_auth b
    <where>
      <if test="account != null and account != ''">and a.account LIKE CONCAT(CONCAT('%', #{account}), '%') </if>
      <if test="account != null and account != ''">or a.nick LIKE CONCAT(CONCAT('%', #{account}), '%') </if>
      and a.u_id = b.u_id and a.is_auth = 1 and b.status = 2 and a.status &gt; 1
    </where>
    group by a.u_id order by a.popularity desc
  </select>

  <!--根据条件查询-->
  <select id="getUserInfoBy"  resultMap="BaseResultMap" >
    select a.u_id,a.account,a.nick,CONCAT('${httpUrl}',a.headpic)as headpic,a.sex,a.age,b.category_title,
    b.title_name,b.price,b.title_pw_name
    from u_user a ,u_user_auth b
    <where>
      <if test="categoryId != null and categoryId != ''">and b.category_id = #{categoryId} </if>
      <if test="sex != null and sex != ''">and a.sex = #{sex} </if>
      <if test="titlePwName != null and titlePwName != ''">and b.title_pw_name = #{titlePwName} </if>
      <if test="age != null and age != ''">and a.age &lt;= #{age} </if>
      <if test="age1 != null and age1 != ''">and a.age &gt;= #{age1} </if>
      and a.u_id = b.u_id and a.is_auth = 1 and b.status = 2 and a.status &gt; 1
    </where>
    group by a.u_id order by a.popularity desc
  </select>

  <!--查询明星用户-->
  <select id="getStarUserInfo" resultMap="BaseResultMap">
    select a.u_id,a.account,a.nick,CONCAT('${httpUrl}',a.headpic)as headpic,a.sex,a.age,a.label_desc,b.category_title,
    b.title_name,b.price,b.title_pw_name
    from u_user a ,u_user_auth b
    where  a.u_id = b.u_id and a.is_auth = 1 and a.status = 3 and b.status = 2
    group by a.u_id order by a.popularity desc
  </select>

  <!--查询热门用户-->
  <select id="getHotUserInfo"  resultMap="BaseResultMap" >
    select a.u_id,a.account,a.nick,CONCAT('${httpUrl}',a.headpic)as headpic,a.sex,a.age,b.category_title,
    b.title_name,b.price,b.title_pw_name
    from u_user a ,u_user_auth b
    where a.u_id = b.u_id and a.is_auth = 1 and b.status = 2 and a.status = 2
    group by a.u_id order by a.popularity desc
  </select>


</mapper>

